* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* @keyframes blinking {
    from {
        background-color: blue;
        border-radius: 0px;

    }
    to {
        background-color: green;
        border-radius: 50%;

    }
} */

@keyframes blinking {
    0% {
        border-radius: 10px;
        background-color: rgb(16, 100, 26);

    }
    20% {
        border-radius: 20% ;
        background-color: rgb(48, 137, 214);
    }
    50% {
        border-radius: 50%;
        background-color: rgb(90, 149, 58);
        animation-duration: 1s;
    }
    100% {
        border-radius: 100%;
        background-color: rgb(9, 104, 104);
    }
}


.container_1 {
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    color: orange;
    

    width: 300px;
    height: 300px;
    border: 1px solid;
    margin: 20px;
    animation-name: blinking;
    animation-duration: 6s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;


}
@keyframes chakkar {
    0% {
        left: 0px;
    }
    25% {
        left: 100px;
    }
    50% {
        left: 100px;
        /* top: 100px ; */
    }
    75% {
        top: 100px;
        /* left: 0px; */

    }
    100% {
        top: 100px;
        /* left: 20px; */

    }
}

.container_2 {
    margin: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: aqua;
    position: relative;
    animation-name: chakkar;
    animation-duration: 6s;
    animation-iteration-count: infinite;


}