* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.container {
    border: 1px solid rgb(224, 205, 205);
    width: 500px;
    padding: 50px;
}
.box {
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}
.card-image {
    width: 100%;
    height: auto;
    margin: 5px 0;
    position: relative;
    bottom: auto;
    border-top-right-radius: 10px;
}
.card:hover {
    border: #000;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
}
h2 {
    margin: 10px 0;
}
.tag {
    border: 1px solid #000;
    padding: 3px 8px;
    border-radius: 10px;
    opacity: .7;
}
p {
    margin: 10px 0;
    line-height: 1.5;
}
ul {
    list-style: none;
    ;

}
ul li {
    display: inline-block;
    margin-right: 6px;

}
li:last-child {
    margin-right: 0px;
}