* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid black;
    padding: 20px 30px;
}

nav {
    width: 100px;
    height: 30px;
    display: inline-block;
    
}
.first {
    width: 20%;
    height: 100px;
    background-color: red;
    float: left;
}
.second{
    width: 60%;
    height: 100px;
    background-color: green;
    float: left;
}
.third{
    width: 70%;
    background-color: blue;
    height: 100px;
    float: right;
}
.fourth{
    width: 100%;
    background-color: gold;
    height: 100px;
    float: left;
    
}