.glass {
    width: 512px;
    height: 644px;
    border: 2px solid;
    border-radius: 84px;
    conic-gradient: 
    background-color: rgba(255, 255, 255, 0.05);
}
body {
    background-color: bisque;
}