* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
font-size:32px;
color:#302c54;
font-weight:700;
margin-bottom:40px;
}

form{
display:flex;
flex-direction:column;
gap:22px;
}
body {
    background: #f3f3f3;
    margin:0;
    font-family:Arial, sans-serif;
    background:#f2f2f3;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:40px 20px;
}

textarea{
    border-radius:24px;
    height:160px;
    resize:none;
}
input::placeholder,
textarea::placeholder {
        color:#b8b7c8;
        font-weight:600;
}
input, textarea{
width:100%;
padding:22px;
font-size:16px;
border:none;
border-radius:50px;
background:#ffffff;
outline:none;
color:#302c54;
box-shadow:0 4px 14px rgba(0,0,0,0.05);
}
button {
    width:20px;
    height:20px;
    fill:white;
    margin-top:18px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    background:#9b8cff;
    border:none;
    padding:18px 40px;
    border-radius:50px;
    color:#ffffff;
    font-size:18px;
    font-weight: bold;
    cursor:pointer;
    box-shadow:0 4px 12px rgba(0,0,0,0.12);
    margin-left: 35%;
}
.form_parent {
    width:100%;
    max-width:650px;
    text-align:center;
}
.btn svg{
width:20px;
height:20px;
fill:white;
}

@media screen and (max-width: 1080px) and (min-width:320px) {
    .form_parent {
        width:100%;
        max-width:650px;
        text-align:center;
    }
}

