* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    display: flex;
    justify-content: center;

    gap: 20px;
}

section {
    border-radius: 10px;
    border: 1px solid;
    width: 305px;
    height: 400px;
    /* display: flex; */
}
.icons {
    position: relative;
    padding-top: 30px;
    margin: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
.top_images > img {
    border-radius: 20px;
}
p {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 7px;
    opacity: 0.6;
    padding: 2px 6px;

}
h1 {
    font-size: 25px;
    
}