* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;

    border: 1px solid;
    background-color: aquamarine;
    
}
.card {
    display: grid;
    justify-content: center;
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.para {;
    text-align: center;
    border: 1px solid;
    background-color: beige;
}
.parent {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h2 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.card > .circle > .para {
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-position-x: left;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(222, 57, 24);
}
.para {
    position: relative;
}

@media screen and (min-width:700px) and (max-width:1024px) {
    .parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;


    }
    
}
@media screen and (min-width:300px) and (max-width:700px) {
    .parent {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


    }
    
}

