h1 {
    background-color: dodgerblue;
}
p {
    background-color: tomato;
}
.container {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    /* background-color: #48CF80; */
    background-color: rgba (23, 100, 90, 0.3) ;
}
