.h1 {
	font-size: 40px;
}

.container {
	height: 200px;
	width: 1250px;
	border: 2px solid black;
	background-color: #9B5DE0 ;

}
.ref {
	height: 100px;
	width: 1250px;
	border: 2px solid black;
	background-color: #FDCFFA ;
	margin-top: 200px;

}
span {
	margin-left: 50px;
	margin-top: 200px;
	margin-right: 50px;
}