a{
    border: 1px solid black;
    width: 50px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

div{
    display: inline;
    border:1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

a,div.hover{
    background-color: black;
    color: aliceblue;
}
.section {
    border: 10px;
    width: 100px;
    height: 100px;
    padding: 20px;
    box-sizing: 100px;
}