* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 80vh;
    border: 1px solid;
    text-align: center;
    background-color: aquamarine;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* align-items: start; */
    /* align-items: end; */
    
    align-items: center;
     /* alignment vertical */
     flex-direction: column;
     /* align-items: center; */
     /* justify-content: center; */
     /* align-items: center; */
     /* justify-content: flex-end  ; */
     gap: 50px;
}
.child {
    background-color: brown;
    border: 1px solid;
    width: 100px;
    height: 100px;
    text-align: center;

}