* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 2px solid red;
    height: 70vh;
    display: grid;
    
    /* display: -ms-inline-grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 100px repeat(2, 1fr) repeat(3, 200px) repeat(3, 1fr) 200px; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* justify-items: flex-start; */
    


}

.items {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px solid;
    /* width: 100px; */
    height: 100px;


}