* {
    margin: 0;
    padding: 0;
}
.section {
 /* width: 200px;
 height: 300px; */
 /* border: 5px solid black; */
 border-style: dashed;
/* border-width: 20px 10px 5px 9px; */
text-align: center;
min-width: 200px;
max-width: 300px;
min-height: 200px;
max-height: 300px;

margin-right: 200px;
margin-top: 200px;
margin-left: 200px;
margin-bottom: 200px;
/* margin: left right */
/* padding: 20px 20px; */
/* left top right bottom */
padding: 20px 20px 30px 10px;
border-color: blue;
border: 200px 30px 200px 30px;

overflow-y: auto;
}