 .container{
    border: 1px solid;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: row; */
    /* flex-shrink: 0; */
    /* flex-shrink: 1; */
    /* align-items: center; */
    /* align-items: start; */
}
.child {
    border: 1px solid;
    width: 100px;
    height: 100px;

}
