* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 50vh;
    width: 100vw;
    justify-content: center;
    background-color: antiquewhite;
    flex-direction: row-reverse;
}

.child {
    border: 1px solid;
    width: 100px;
    font-size: 1.5rem;
    height: 100px;
    padding: 20px;
    flex-basis: 100px;
    border-radius: 8px;
    text-align: center;
}
.child_3 {
    flex-grow: 2;
    flex-direction: row-reverse;

}