* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: purple;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Products_categories {
    display: flex;
    justify-content: space-around;

}
table,td{
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
}
table {
    width: 80%;
}
th {
    background-color: purple;
    color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}
.store {
    color: rgb(49, 49, 31);
}
.upcoming_fashion {
    display: flex;
    justify-content: center;
}
.store{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    width: 100vw;
    height: 10vh;
}
ul {
    list-style: disc;
}