* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 80vh;
  border: 1px solid;
  display: flex;
  gap: 10px;
  /* default direction: row */
  /* Horizental Alignment */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* Vertical Alignment */
  /* align-items: start; */
  /* align-items: center; */
  /* align-items: end; */
  flex-direction: column;
  /* Horizental Alignment */
  /* align-items: start; */
  align-items: center;
  /* align-items: end; */

  /* Vertical Alignment */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  justify-content: center;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

.child {
  width: 100px;
  height: 100px;
  border: 1px solid;
}
