.grid_container {
    background-color: aqua;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 10px;
    grid-template-areas: 
    "box-1 box-2 box-2 box-3"
    "box-2 box-4 box-5 box-5";
}

.box {
    background-color: rgb(11, 25, 30);
}