.container {
    width: 50%;
    height: 300px;
    border: 1px solid black;
    background-image: url(../../../../images/png-clipart-ph-meter-hanna-instruments-electrical-conductivity-meter-measurement-laboratory-edge-miscellaneous-sports-thumbnail.png);
}