* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */

}
.box {
    width: 280vw;
    height: 133px;
    padding: 3px;
    margin: 3px;
    border: 1px solid;
    display: inline-block;

}
.box_1{
    background-color: aquamarine;
    position: sticky;
    top: 0px;
    height: 120px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* position: absolute;
    top: 0px; */
}
.box_2{
    background-color: bisque;
     position: relative; 
    top: 10px;
    left: 10px;
}
.box_3{
    background-color: brown;
    position: fixed;
    bottom: 0px;
    left: 25vw;
}
.box_4{
    background-color: aqua;
    

}
.box_5{
    background-color: blueviolet;
}
.box_6 {
    background-color: burlywood;
}
.container {
    padding: 43px;
    margin: 34px;
    border: 3px solid purple;
    position: absolute;
}