* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e4defe;
}

form {
  max-width: 400px;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

option {
  background-color: red;
}

.pair {
  display: flex;
  flex-direction: column;
}
.pair input {
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.radiobutton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

select {
  padding: 7px 10px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer button {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #7a5cfa;
}
#cancel {
  background-color: transparent;
  color: #7a5cfa;
}
#next {
  background-color: #7a5cfa;
  color: white;
}
.img {
}
.img {
    display: g;
    grid-template-columns: 1fr 1fr;
}