* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid;
    padding: 20px 30px;
    margin: 20px;

}
nav > a {
    width: 100px;
    height: 30px;
    border: 1px solid;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: red;
}
main {
    height: 90vh;
    width: 100%;
}
aside {
    border-right: 1px solid ;
    width: 20%;
    height: 100%;
    float: left;
}
main > div {
    
}