section {
    border: 1px solid;
    width: 1000px;
    height: 1000px;
    background-color: aqua;
}
.child {
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px
    
}