/* box position */
/* value : relative , absolute, sticky, fixed, static*/
/* top, left, right, bottom */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box {
    width: 200px;
    height: 200px;
    border: 1px solid;
    display: inline-block;

}
.container {
    border: 2px solid;
    height: 100px;
    margin: 10px 0 0 10px;
    position: relative;
}
.box_1 {
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: aqua;

}
.whatsapp 
{
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: lightgreen;
    text-align: center;
    padding: 40px;
    box-shadow: slategray;
    position: static;
    left: 20px;
}
