
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    border: 1px solid #000;
    padding: 50px;
}
.card{
    width: 500px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    margin: auto;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card-image{
    width: 100%;
    height: auto;
    margin: 5px 0;
}
h2{
    margin: 10px 0;
}
.tag{
    border: 1px solid #000;
    padding: 3px 8px;
    border-radius: 10px;
}
p{
    margin: 10px 0;
    line-height: 1.5;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
    /* border: 1px solid #000; */
    margin-right: 6%;
}
li:last-child{
    margin-right: 0;
}