* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    width: 100vw;
    height: ;
    border: 1px solid;
    /* display: flex; */
    /* justify-content: start; */
}
.header_content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: end;
    gap: 50px; 

    padding: 30px;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: start;
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: rgb(3, 2, 3);
    background-color: aqua;
    /* justify-content: space-between; */

}
.profile {
    display: flex;
     border: 1px solid;
     width: 65%;
    height: 35%; */
    margin: 20px;
    /* border-radius: 20px; */

}
.main {
    display: flex;
    gap: 10px;
    padding: 50px;

}
button {
    color: purple;
    background-color: aqua;
    width: 80px;
    height: 30px;
}
.img_parent {
    display: flex;
    justify-items: start;
}
.header_parent {
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: flex-end;
    gap: 50px; 
    padding: 30px;
    float: left;
}