* {
	color: cyan;
	margin: opx;
}
p {
	color: blue;
}
.box {
	background-color: lightgray;
}
#spacial {
color: red;
font-weight: bold;
}
.box {
	font-style: italic;

}
.box > h2 {
	color: green;
}
h3 + p {
	color: purple;
}
h1 ~ p {
	color: gray;
}