.container {
    width: 100%;
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.child {
    width: 100%;
    padding: 10px;
    height: 480px;
    display: flex;
    gap: 15px;

}
.img  {
    width: 50%;
    height: 100%;

}
.img_2 {
    width: 100%;
    height: 100%;

}
.child {
    flex-direction: column-reverse;

}