/* body {
    background-color: aquamarine ;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.smart {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
}
.calc {
    border: 2px solid blue;
    width: 200px;
    height: 200px;
}
.meter {
    border: 2px solid black;
    height: 200px;
    } */

div {
    display: inline-block;
    border: 1px solid blue;
    width: 200px;
    height: 300px;
    padding: 20px;
    
    
}