* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: grid;
    border: 2px solid red;
    height: 100vh;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 50px 1fr 50px;


}
.item {
    border: 1px solid blue;
     display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */

}
.header{
    align-items: flex-end;
    gap: 20px 100px;
     display: flex;
    align-items: center;
    justify-content: end;
    grid-column-start:1 ;
    grid-column-end:4 ;
    background-color: aquamarine;

}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aquamarine;
}
.left {
    background-color: chocolate;
}
.right {
    background-color:chocolate
}
.body {
    background-color: cadetblue;
}
@media screen and (min-width:600px) (max-width:700px){
    .main {
        display: grid;
        border: 2px solid red;
        /* height: 100vh; */
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 50px;


    }
}