/* .container {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
} */

h1 {
    border-width: 1px ;
    border-style: dotted;
    border-color: solid blue ;
    border-left: 1px;
    border-right: 1px solid maroon;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top:5px;
    padding-bottom: 5px;

    padding: 10px;
    

}